.about-intro {
  width: 40%;
  margin: 100px auto 20px auto;
  text-align: center;
  padding-bottom: 150px;
}

.time {
  font-size: 1.2rem;
  font-weight: bold;
}

.countdown {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  text-align: center;
  row-gap: 0rem;
}

.time-number {
  font-size: 4rem;
  font-family: "Bungee", "cursive";
  margin: 0;
}

.time-text {
  padding: 50px;
}

#days {
  color: #3ab795;
}
