.faq-main {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 30px;
  background-color: white;
  margin: 0;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: 2px solid #e7e7e7;
  border-radius: 15px;
  padding: 0.5rem;
}

.faq-row {
  /*Change in phone format*/
  display: grid;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: 10rem;
  margin-right: 10rem;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10rem;
}

.faq-cards p {
  width: 80%;
  font-size: 1rem;
  margin: 20px auto 5px auto;
}

.faq-cards .questions {
  font-weight: bold;
}

@media(max-width:1400px){
  .faq-row {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1.5rem;
    column-gap: 0;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    grid-gap: 1.5rem;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: 2px solid #e7e7e7;
    border-radius: 55px;
    padding: 0;
  }
}

@media (max-width: 1000px) {
  .faq-row {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 1.5rem;
    column-gap: 0;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    grid-gap: 1.5rem;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: 2px solid #e7e7e7;
    border-radius: 55px;
    padding: 0;
  }
}

