.footer-main {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 30px;
  background: white; /* fallback for old browsers */
  color: black;
}

.contact-us {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
}

.contact-us a {
  color: black;
}

.credits {
  font-size: 0.1rem;
  font-family: "Montserrat", sans-serif;
}

.credits a {
  text-decoration: none;
  color: black;
}

.made-with-love {
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
}
