.team-container {
  display: grid;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 150px;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
  row-gap: 40px;
}

.team-1 img,
.team-2 img,
.team-3 img,
.team-4 img {
  height: 250px;
  width: 250px;
  object-fit: cover;
  display: block;
  border-radius: 250px;
  border: #00202c 5px solid;
  margin: 0 auto;
}

.team-container p {
  width: 80%;
  margin: 20px auto 5px auto;
}

@media(max-width: 1400px){
  .team-container{
    grid-template-columns: repeat(2,1fr);
  }
}

@media(max-width:1000px){
  .team-container{
    grid-template-columns: repeat(1,1fr);
  }
}
