
.platinum, .tyler {
   text-align: center;
   margin: 10px
}

.platinum img {
    height: 150px;
    object-fit: contain;
    width: 322px;
    display: inline-block;

}

.tyler img {
    height: 150px;
    object-fit: contain;
    width: 300px;
}

@media(max-width: 1000px){
    .platinum img {
        height: 100px;
        object-fit: contain;
        width: 322px;
        display: inline-block;
    
    }
  
  }
  