
.platinum img {
    height: 175px;
    object-fit: contain;
    width: 450px;
    display: inline-block;
}

 .gold, .tyler, .risa {
   text-align: center;
   margin: 10px
}

.platinum {
    text-align: center;
    margin: 20px;
}

.gold img {
    height: 150px;
    object-fit: contain;
    width: 322px;
    display: inline-block;

}

.tyler img {
    height: 150px;
    object-fit: contain;
    width: 300px;
}

.risa img {
    height: 150px;
    object-fit: contain;
    width: 300px;
}


@media(max-width: 1000px){
    .gold img {
        height: 100px;
        object-fit: contain;
        width: 322px;
        display: inline-block;
    
    }

    .platinum img {
    height: 150px;
    object-fit: contain;
    width: 322px;
    display: inline-block;
    }

    .risa img {
        height: 250px;
        object-fit: contain;
        width: 300px;
    }
    
  
  }
  