.sponsorship-main {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 30px;
  background: black; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    rgb(226, 226, 226)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    rgb(226, 226, 226),
    rgb(0, 0, 0) 0
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
}

.sponsor-benefits {
  display: grid;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 150px;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
}

.benefit img {
  height: 250px;
  width: 250px;
  object-fit: cover;
  display: block;
  border-radius: 250px;
  border: #00202c 5px solid;
  margin: 0 auto;
}

.benefit p {
  width: 80%;
  font-size: 1.2rem;
  margin: 20px auto 5px auto;
}


@media(max-width: 800px){
  .sponsor-benefits {
    grid-template-columns: repeat(1,1fr);
    row-gap: 2rem;
  }
}