@import url('https://fonts.googleapis.com/css?family=Bungee|Montserrat&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1{
  font-family: 'Bungee', cursive;
}

h2,h3,h4,h5,h6,p, button{
  font-family: 'Montserrat', sans-serif;
}

header{
  text-align: center;
  padding-top: 40px;
  padding-bottom: 30px;
  background: #141E30;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;

}

header h1 {
  font-size: 4.5rem;
  padding-top: 20px;
  margin: 0px;
}

header p{
  font-size: 1.5rem;
  margin: 0px;
  padding: 0 0;
}

header button{
  padding: 20px;
  border: none;
  border-radius: 50px;
  background: #3AB795;
  color: black;
  font-weight: bold;
  font-size: 1.1rem;
  margin-top: 15px;
  margin-bottom: 10px;
}

header img{
  width: 50vw;
  height: 50vh;
  margin: 100px auto 2px auto;
}

.subtitle{
  text-align: center;
  font-size: 2rem;
  margin-top: 100px;
  margin-bottom: 50px;
}

.intro{
  width: 40%;
  margin: 100px auto 20px auto;
  text-align: center;
}

.team-container {
  display: grid;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 150px;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}

.team-1 img,.team-2 img, .team-3 img, .team-4 img{
  height: 250px;
  width: 250px;
  object-fit: cover;
  display: block;
  border-radius: 250px;
  border:#00202c 5px solid;
  margin: 0 auto;
}

.title {
  font-size: 1.2rem;
}

.team-container p {
  width: 80%;
  margin: 20px auto 5px auto;
}

.transition-1 {
  position: relative;
  overflow: hidden;
  background-color: black;
  background: linear-gradient( rgba(80, 67, 67, 0.2), rgb(0, 0, 0)), url("./assets/mahir-uysal-568303-unsplash.jpg");
  background-size: cover;
  height: 50vh;
  width: 100vw;
  color: black;
  background-blend-mode: soft-light;
  background-attachment: fixed;
  background-position: fixed;
  background-repeat: no-repeat;
}
.transition-2 {
  position: relative;
  overflow: hidden;
  background-color: black;
  background: linear-gradient( rgba(80, 67, 67, 0.2), rgb(0, 0, 0)), url("./assets/tom-gainor-752224-unsplash.jpg");
  background-size: cover;
  height: 50vh;
  width: 100vw;
  color: black;
  background-blend-mode: soft-light;
  background-attachment: fixed;
  background-position: fixed;
  background-repeat: no-repeat;
}

.sponsorship-main {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 30px;
  background: black;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, rgb(226, 226, 226), );  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, rgb(226, 226, 226), rgb(0, 0, 0)0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
}

button {
  padding: 20px;
  border: none;
  border-radius: 50px;
  background: #3AB795;
  color: black;
  font-weight: bold;
  font-size: 1.1rem;
  margin-top: 15px;
  margin-bottom: 40px;
}

button a {
  text-decoration: none;
  text-emphasis: none;
  color: black;
}

.sponsor-benefits {
  display: grid;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 150px;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
}

.benefit img {
  height: 250px;
  width: 250px;
  object-fit: cover;
  display: block;
  border-radius: 250px;
  border:#00202c 5px solid;
  margin: 0 auto;
}

.benefit p {
  width: 80%;
  font-size: 1.2rem;
  margin: 20px auto 5px auto;
}

.faq-main {
  background-color: white;
}

.faq-row-1, .faq-row-2 {
  display: grid;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: 25px;
  margin-right: 25px;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4rem;
}

.faq-row-3 {
  display: grid;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 150px;
  margin-left: 25px;
  margin-right: 25px;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4rem;
}

.question {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border: 2px solid #e7e7e7;
  border-radius: 4px;
  padding: .5rem;
}
@media (min-width:800px) and (max-width:1150px){
  .intro {
    width: 80%;
  }


}