@import url('https://fonts.googleapis.com/css?family=Bungee|Montserrat&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1{
  font-family: 'Bungee', cursive;
}

h2,h3,h4,h5,h6,p, button{
  font-family: 'Montserrat', sans-serif;
}

header{
  text-align: center;
  padding-top: 40px;
  padding-bottom: 30px;
  background: #141E30;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;

}

header h1 {
  font-size: 4.5rem;
  padding-top: 20px;
  margin: 0px;
}

header p{
  font-size: 1.5rem;
  margin: 0px;
  padding: 0 0;
}

header button{
  padding: 20px;
  border: none;
  border-radius: 50px;
  background: #3AB795;
  color: black;
  font-weight: bold;
  font-size: 1.1rem;
  margin-top: 15px;
}

header img{
  width: 50vw;
  height: 50vh;
  margin: 100px auto 2px auto;
}

.team-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 0.8rem;
}

.team-container img{
  height: 250px;
  width: 250px;
  object-fit: cover;
  border-radius: 250px;
  border:#00202c 10px solid;
  margin-bottom: 1rem;
}

